/*Page Setup*/
*{
    margin: 0%;
    padding: 0%;
  }
  
  /* This is the start of the Header & Nav Bar*/
  
  nav{
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 60px;
    position: fixed;
  }
  
  nav ul li{
    float: right;
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
  }
  
  nav ul li a{
    color: rgba(247, 9, 9, 0.938);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
  .logo{
    margin: 0;
    width: 20px;
    height: 15px;
  }
  nav ul li :hover{ color: rgb(17, 216, 10);
  }
  /* Background Image and Section/Hero Image*/
  
  section{  background-image: url(/img/spawn\ 1.jpg ) ;
    width: 100%;
    height: 700px;
    margin: 0px;
    padding: 0;
  }
  .herosection{ background-color: black;
    width: 60px;
    height: 50px;
    border: 2px solid#fff;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 50px;
 }